body {
	margin: 1rem;
}
.form-control{
	width: 50%;
}
.alert {
	width:50%;
}
.btn-primary {
	width:50%;
	margin:10px;
}
.garis {
	position: relative;
}
.garis:before {
	color: red;
	position: absolute;
	content: "";
	left: 0;
	top: 50%;
	right: 0;
	border-top: 5px solid;
	border-color: inherit;

	-webkit-transform:rotate(-5deg);
	-moz-transform:rotate(-5deg);
	-ms-transform:rotate(-5deg);
	-o-transform:rotate(-5deg);
	transform:rotate(-5deg);
}